@import url(https: //fonts.google.com/specimen/Montserrat?query=monts);
@import url(https: //fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface);

body {
    margin: O auto;
}
*{
    font-family:"Montserrat", sans-serif;
}

.top-page{
    background:url('images/bg.jpg');
    background-size: cover;
    height: 100vh;
    padding: 25px;
    
}
.barrenav{
    display: flex;
    align-items: center;
}
.barrenav img{
    width: 150px;
    
    border-radius: 50%;
}
.menu>ul{
    display:flex;
    list-style: none;
    width:400px;
    justify-content: space-between;
    margin-left:30 px;
     
}
.menu li{
    color: white;
}
.bigtitle{
    color: white;
    font-size: 40px;
    font-family:"Abril Fatface", cursive;
    font-weight: 100;
    margin-top: 100px;
    width: 450px;
    padding: 5px;

}
.top-page>a{
    color: white;
    padding: 5px;
}
.services>ul{
    background-color: white;
    display: flex;
    justify-content: space-around;


}
.services>ul>li {
    color:green;
    text-align:center;
    list-style: none;
    padding: 10px;

}
.services>ul>li>p{
   color: black;
   width: 150px;
   
}
.vente{
    margin:200,auto,auto,40;
}
.vente>h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,sans-serif;
    font-size: 40px;
   margin: auto;
    

}
.bellevente{
    width: 20px;
    height: 20px;
}

.bellevente>ul{
    display: flex;
    list-style: none;
    padding: 10px;
}

.bellevente>ul>li>img{
    width: 300px;
}
.prix>ul {
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    text-align:left;
    background-color:#ffffff ;
    border-radius: 12px;

}
.plante{
    text-size:20px;
    font-weight: bold;

}
.prixplante{
    color:#ADD981;
    padding: 5px;
    font-size:small;

}
.savoir{
    background-color: #ADD981;
    font-size: small;
    width: 100px;
    padding: 10px;
    color: white;
    
    border-radius: 12px;
    
}
.affiche{
    display: flex;
    justify-content: space-around;
    
}