@import url(https: //fonts.google.com/specimen/Montserrat?query=monts);
@import url(https: //fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface);

body {
    margin: O auto;
}
*{
    font-family:"Montserrat", sans-serif;
    
}

.top-page{
    background:url('images/bg.jpg');
    background-size: cover;
    height: 100vh;
    padding: 25px;
    
}
.barrenav{
    display: flex;
    align-items: center;
}
.barrenav img{
    width: 150px;
    
    border-radius: 50%;
}
.menu>ul{
    display:flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-left:30 px;
     
}
.menu li>a{
    color: white;
    text-decoration: none;
    
    
}
.bigtitle{
    color: white;
    font-size: 40px;
    font-family:"Abril Fatface", cursive;
    font-weight: 100;
    margin-top: 100px;
    width: 450px;
    padding: 5px;

}
.top-page>a{
    color: white;
    padding: 5px;
}
.services>ul{
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;


}
.services>ul>li {
    color:green;
    text-align:center;
    list-style: none;
    padding: 10px;

}
.services>ul>li>p{
   color: black;
   width: 150px;
   
}
.vente{
    /* margin:200px auto auto 40px; */
}
.vente>h2{
    font-family: Arial, cursive;
    font-size: 40px;
   margin: auto;
    

}
.vente>h2::first-letter{
    font-size: 50px;
    text-decoration: underline green;
}
.bellevente{
    width: auto;
    height: auto;
}

.bellevente>ul{
    display: flex;
    position: relative;
    list-style: none;
    padding: 10px;
}

.bellevente>ul>li>img{
    width: 300px;
    display: block;
}
.prix>ul {
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    text-align:left;
    background-color:#ffffff ;
    border-radius: 12px;
    height: 40px;

}
.plante{
    text-size:20px;
    font-weight: bold;

}
.prixplante{
    color:#ADD981;
    padding: 5px;
    font-size:small;

}
.savoir{
    background-color: #ADD981;
    font-size: small;
    width: 100px;
    padding: 10px;
    color: white;
    
    border-radius: 12px;
    
}
.affiche{
    display: flex;
    justify-content: space-around;
    height: 40px;
    
}
.nosplantes>ul{
    display: flex;
    justify-content:space-evenly;  
    width: 1200px;
    list-style: none;

}
.im1{
    width: 350px;
    height: 500px;
    
}
.im2{
    width: 350px;
    height: 229px;
    
}
.plantes>h2 {
    font-family: Arial, cursive;
    font-size: 40px;
    /* padding: 50px; */


}

.plantes>h2::first-letter {
    font-size: 50px;
    text-decoration: underline green;
}
.im4,.im6{
    width: 280px;
    height: 450px;

}
.im5{
    width: 410px;
    height: 450px;
}
.footer{
    padding-top: 50px;
}
.footer>ul{
    
    background-color: #ADD981;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer>ul>li>a{
    color: white;
    text-decoration: none;
}
footer>p{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: xx-small;
}
